@import "tailwindcss";
@plugin "@midudev/tailwind-animations";
@tailwind utilities;

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary-blue: #389cde;
  --color-secondary-blue: #3caaed;
  --color-white: #ffffff;
  --color-description: #b0b0b0;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --aspect-card-illustration: 10 / 7;
  --aspect-card-banner: 25 / 9;
}

.animate-border {
  animation: rotate-border 4s linear infinite;
}

@theme inline {
  --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s)
    infinite;

  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

@layer utilities {
  @property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }

  @keyframes rotate-border {
    from {
      --border-angle: 0deg;
    }
    to {
      --border-angle: 360deg;
    }
  }

  @keyframes radar-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  .animate-radar-spin {
    animation: radar-spin 10s linear infinite alternate;
  }

  .custom-primary-shadow {
    --tw-shadow-color: theme("colors.primary-blue");
    box-shadow:
      inset 0 0 0.5em 0 var(--tw-shadow-color),
      0 0 0.5em 0 var(--tw-shadow-color);
    text-shadow:
      0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--tw-shadow-color);
  }

  .custom-primary-shadow-hover:hover {
    box-shadow:
      inset 0 0 0.5em 0 var(--tw-shadow-color),
      0 0 0.5em 0 var(--tw-shadow-color),
      0 0 1em 0 var(--tw-shadow-color);
  }

  .text-primary-shadow {
    --tw-shadow-color: theme("colors.primary-blue");
    filter: drop-shadow(0 0 0.5em var(--tw-shadow-color))
      drop-shadow(0 0 0.125em var(--tw-shadow-color));
  }
}

html {
  scroll-behavior: smooth;
  scroll-margin: 200px;
  background-color: black;
}

p,
span {
  font-family: var(--font-plus-jakarta-sans);
}

h1 {
  font-family: var(--font-poppins);
  font-size: 3.75rem;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: var(--font-poppins);
  font-size: 1.875rem;
  font-weight: 600;
  color: white;
}

@media (min-width: 640px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
